
button{
  width: 100%;  // apo koukides to kanei mia euthia grami oste na einai ola se mia seira
  height: 100%; // dinei ipsos se kathe keli
  font-size: 60px; // diorthonei to megetois to x h o to megalwni
  background-color: white; //bazei to background na einai monima aspro kai na mi grizari katholou
  // border: none; // aferei ta parigramata apo ta kelia
}
